@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <h3 class="text-center">Team 1</h3>
    <div class="d-flex p-2 justify-content-between border-top">
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
    </div>
    <br>
    <h3 class="text-center">Team 2</h3>
    <div class="d-flex p-2 justify-content-between border-top">
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
    </div>
    <br>
    <h3 class="text-center">Team 3</h3>
    <div class="d-flex p-2 justify-content-between border-top">
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
    </div>
    <br>
    <h3 class="text-center">Team 4</h3>
    <div class="d-flex p-2 justify-content-between border-top">
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
        <div class="text-center">
            <img class="rounded" src="image.jpg" alt="" style="width: 150px; height: 150px;">
            <br>
            <span type="button" class="m-3 btn btn-light"><a href="../Design/secondPage.html.html">Details</a></span>
        </div>
    </div>

</div>
        </div>