@{
    ViewData["Title"] = "Fighters";
}

<div class="d-flex p-5 rounded text-white bg-dark mx-auto w-75">
    <div class="col-3 text-center d-flex flex-column border">
        <h4 class="border-bottom py-2">Filter</h4>
        <span class="font-weight-bold pb-3">Category</span>
        <div class="form-check text-left">
            <div class="form-check">
                <label class="form-check-label pr-4" for="gridRadios1">Lightweight</label>
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            </div>
            <div class="form-check">
                <label class="form-check-label pr-4" for="gridRadios1">WelterWeight</label>
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option2" checked>
            </div>
            <div class="form-check">
                <label class="form-check-label pr-4" for="gridRadios1">MiddleWeight</label>
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option3" checked>
            </div>
            <div class="form-check">
                <label class="form-check-label pr-4" for="gridRadios1">Heavyweight</label>
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option4" checked>
            </div>
        </div>
        <span class="font-weight-bold p-3">Organization</span>
        <div class="form-check text-left">
            <div class="form-check">
                <label class="form-check-label pr-4" for="gridRadios2">Animo</label>
                <input class="form-check-input" type="radio" name="gridRadios2" id="gridRadios2" value="option1" checked>
            </div>
            <div class="form-check">
                <label class="form-check-label pr-4" for="gridRadios2">Corporis</label>
                <input class="form-check-input" type="radio" name="gridRadios2" id="gridRadios2" value="option1" checked>
            </div>
            <br>
        </div>
    </div>

    <div class="col-8 border p-4">
        <div class="d-flex flex-column">
            <div class="my-2 d-flex bg-danger rounded p-4 justify-content-between">
                <p>Name Name</p>
                <p>Bulgarian</p>
                <p>Bonus Bonus Bonus</p>
                <p>Price</p>
                <span type="button" class="btn btn-light"><a href="../Design/secondPage.html.html">Fight</a></span>
            </div>

            <div class="my-2 d-flex bg-danger rounded p-4 justify-content-between">
                <p>Name Name</p>
                <p>Bulgarian</p>
                <p>Bonus Bonus Bonus</p>
                <p>Price</p>
                <span type="button" class="btn btn-light"><a href="../Design/secondPage.html.html">Fight</a></span>
            </div>

            <div class="my-2 d-flex bg-danger rounded p-4 justify-content-between">
                <p>Name Name</p>
                <p>Bulgarian</p>
                <p>Bonus Bonus Bonus</p>
                <p>Price</p>
                <span type="button" class="btn btn-light"><a href="../Design/secondPage.html.html">Fight</a></span>
            </div>
        </div>
    </div>
</div>