@model PugnaFighting.Web.ViewModels.Fighters.FighterCreateInputModel
@{
    ViewData["Title"] = "Create Fighter";
    var categories = Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <h2 class="text-center pb-2">Welcome, User</h2>
    <p class="text-center font-weight-bold">Its time to create you first figter</p>

    <form class="col-6 mx-auto" method="post" asp-action="Create">
        <div class="form-group">
            <input type="text" class="form-control" asp-for="FirstName" placeholder="First Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="Nickname" placeholder="Nickname">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="nationality" asp-for="BornCountry" placeholder="Nationality">
            <small id="nationality" class="form-text text-muted">Fighter Born Country</small>
        </div>
        <div class="form-group">
            <label asp-for="Age">Age</label>
            <input type="number" class="form-control" min="18" max="50" value="18" asp-for="Age" />
        </div>
        <label asp-for="Picture">Choose Picture</label>
        <div class="custom-file fas fa-info-circle text-dark" data-toggle="tooltip" data-placement="top">
            <input asp-for="Picture" class="custom-file-input input-group-lg form-control" />
            <label asp-for="Picture" class="custom-file-label col-form-label-lg form-control">
                <span class="badge badge-light">
                    <i class="fas fa-cloud-upload-alt fa-2x"></i>
                </span>
            </label>
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success d-block mx-auto mt-3 w-25">Create</button>
    </form>
</div>