@{
    this.ViewData["Title"] = "Fight";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <h2 class="text-center font-weight-bold">It's time to fight</h2>

    <div class="row text-center">
        <div class="col-sm bg-info m-2 rounded p-2">
            <h3 class="p-2">Cody "Killer" Goodson</h3>
            <p class="font-weight-bold">20-3-1</p>
            <img src="codddd.png" alt="" style="width: 250px;">
            <ul class="text-left p-2" style="list-style: none;">
                <li>Team: AKA</li>
                <li>Trainer: Javier Peterson</li>
                <li>Manager: Ali Perry</li>
                <li>Cutman: Ivan Johnson</li>
            </ul>
        </div>

        <div class="col-sm bg-info m-2 rounded">
            <h3 class="p-2">Ivan "No Love" Drago</h3>
            <p class="font-weight-bold mb-5">16-0-0</p>
            <img src="DILLASHAW_TJ.png" alt="" style="width: 250px;">
            <ul class="text-left p-2" style="list-style: none;">
                <li>Team: RAW</li>
                <li>Trainer: John Levinghton</li>
                <li>Manager: Abdul Petrovic</li>
                <li>Cutman: Johny Sealed</li>
            </ul>
        </div>
    </div>

    <div class="text-center pt-5">
        <span type="button" class="btn btn-light"><a href="../Design/secondPage.html.html">Fight</a></span>
    </div>
</div>