@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">

    <div class="">
        <h1 class="text-center">Skills</h1>
        <p style="text-align: center;" class="font-weight-bold">Remaining points: <span class="border px-2 rounded" id="remaining-points">20</span></p>

        <br>

        <div class="w-50 mx-auto">
            <p class="text-center font-weight-bold"> Grapling </p>
            <div class="d-flex justify-content-between">
                <span class="mx-5 btn text-white border rounded" id="decr">-</span>
                <div class="progress m-2 w-100">
                    <div id="grapling-bar" class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50</div>
                </div>
                <span id="incr" class="border rounded mx-5 btn text-white">+</span>
            </div>
            <p class="text-center font-weight-bold"> Striking </p>
            <div class="d-flex justify-content-between">
                <span class="mx-5 btn text-white border rounded" id="decr">-</span>
                <div class="progress m-2 w-100">
                    <div id="grapling-bar" class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50</div>
                </div>
                <span id="incr" class="border rounded mx-5 btn text-white">+</span>
            </div>
            <p class="text-center font-weight-bold"> Wrestling </p>
            <div class="d-flex justify-content-between">
                <span class="mx-5 btn text-white border rounded" id="decr">-</span>
                <div class="progress m-2 w-100">
                    <div id="grapling-bar" class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50</div>
                </div>
                <span id="incr" class="border rounded mx-5 btn text-white">+</span>
            </div>
            <p class="text-center font-weight-bold"> Health </p>
            <div class="d-flex justify-content-between">
                <span class="mx-5 btn text-white border rounded" id="decr">-</span>
                <div class="progress m-2 w-100">
                    <div id="grapling-bar" class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50</div>
                </div>
                <span id="incr" class="border rounded mx-5 btn text-white">+</span>
            </div>
            <p class="text-center font-weight-bold"> Strenght </p>
            <div class="d-flex justify-content-between">
                <span class="mx-5 btn text-white border rounded" id="decr">-</span>
                <div class="progress m-2 w-100">
                    <div id="grapling-bar" class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50</div>
                </div>
                <span id="incr" class="border rounded mx-5 btn text-white">+</span>
            </div>
            <p class="text-center font-weight-bold"> Stamina </p>
            <div class="d-flex justify-content-between">
                <span class="mx-5 btn text-white border rounded" id="decr">-</span>
                <div class="progress m-2 w-100">
                    <div id="grapling-bar" class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50</div>
                </div>
                <span id="incr" class="border rounded mx-5 btn text-white">+</span>
            </div>
        </div>
    </div>
</div>