<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pugna</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/manifest.json">
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/typography.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
</head>
<body>
    <header class="bg-dark text-white p-2 text-center font-weight-bold d-flex justify-content-between">
        <div class="p-1">
            <h1><a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Index">Pugna</a></h1>
        </div>

        <nav>
            <ul id="navigation" class="d-flex  pt-1">
                @if (User.Identity.IsAuthenticated == false)
                {
                    <li class="m-2"><a class="navigation-link" href="https://localhost:44319/Identity/Account/Register">Register</a></li>
                    <li class="m-2"><a class="navigation-link" href="https://localhost:44319/Identity/Account/Login">Login</a></li>
                }
                else
                {

                    <li class="m-2"><a class="navigation-link" asp-area="" asp-controller="Users" asp-action="Info">Profile</a></li>
                    <li class="m-2"><a class="navigation-link" asp-area="" asp-controller="Managers" asp-action="All">Managers</a></li>
                    <li class="m-2"><a class="navigation-link" asp-area="" asp-controller="Fighters" asp-action="All">Fighters</a></li>
                    <li class="m-2"><a class="navigation-link" asp-area="" asp-controller="Teams" asp-action="All">Teams</a></li>
                    <li class="m-2"><a class="navigation-link" asp-area="" asp-controller="Cutmen" asp-action="All">Cutmen</a></li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("IndexGuest", "Home", new { area = "" })">
                        <button type="submit" id="logout" class="btn text-white font-weight-bold">Logout</button>
                    </form>
                }
            </ul>
        </nav>
    </header>

    <main role="main" class="p-5">
        <div class="container">
            <partial name="_CookieConsentPartial" />
        </div>
        @this.RenderBody()
    </main>

    <footer class="bg-dark text-white p-3">
        <div class="d-flex justify-content-around font-weight-bold">
            <span>&copy; 2020</span>
            <span>All Rights Reserved.</span>
            <span>v 1.0 <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
        </div>

        <div class="text-center pt-3">
            <span id="quote" class="font-weight-bold">“My opponent is my teacher. My ego is my enemy.”</span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
