@{
    ViewData["Title"] = "Profile";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <h2 class="text-center">@User.Identity.Name</h2>

    <div class="d-flex justify-content-between m-3">
        <span class="font-weight-bold">1/5 fighters count</span>
        <span class="font-weight-bold">coins</span>
    </div>

    <p class="text-center font-weight-bold">Choose Fighter:</p>
    <select class="form-control mx-auto col-4 p-2" id="exampleFormControlSelect1">
        <option>Boris Kirov</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>

    <button type="submit" class="btn btn-success m-3 d-block text-center mx-auto">Create new fighter</button>
    <button type="submit" class="btn btn-danger m-3 d-block text-center mx-auto">Sell this fighter</button>


    <div class="d-flex justify-content-around p-4">
        <div class="d-flex flex-column text-left col-3 border rounded">
            <h4 class="p-2">Info</h4>
            <ul>
                <li>Boris "Someone" Kirov</li>
                <li>Record: 20-3-2</li>
                <li>Category: Heavyweight </li>
                <li>Nationality: Bulgaria</li>
                <li>Fans count: 120</li>
            </ul>
        </div>

        <div class="d-flex flex-column text-left col-3 border rounded">
            <h4 class="p-2">Squat</h4>
            <ul>
                <li>Team: </li>
                <li>Coach: </li>
                <li>Cutman: </li>
                <li>Manager: </li>
            </ul>
        </div>

        <div class="d-flex flex-column text-left col-3 border rounded">
            <h4 class="p-2">Skills</h4>
            <ul>
                <li>Striking - 80</li>
                <li>Grapling - 77</li>
                <li>Wrestling - 77</li>
                <li>Health - 72</li>
                <li>Strenght - 94</li>
                <li>Stamina - 87</li>
            </ul>
            <button type="submit" class="btn btn-success w-100 mb-2">Train</button>
        </div>
    </div>

    <div class="d-flex justify-content-around p-4">
        <div class="d-flex flex-column text-left col-4 border rounded">
            <h4 class="p-2">Training Camps</h4>
            <ul>
                <li>America 1000 coins 4 hours</li>
                <li>Russia 2000 coins 8 hours</li>
                <li>Brazil 3000 coins 12 hours </li>
            </ul>
        </div>

        <div class="d-flex flex-column text-left col-4 border rounded">
            <h4 class="p-2">Social Events</h4>
            <ul>
                <li>Live Video - Q&A Sessions</li>
                <li>Giveaway</li>
                <li>Organize party</li>
                <li>Press Conference </li>
                <li>Donating money to a charity cause</li>
            </ul>
        </div>
    </div>

    <h4 class="text-center m-1 pb-2 border-bottom">Here you can make custom</h4>
    <div class="d-flex justify-content-around m-2">
        <div class="d-flex flex-column">
            <span>Coach</span>
            <button type="submit" class="btn btn-success mt-1">Create</button>
        </div>

        <div class="d-flex flex-column">
            <span>Manager</span>
            <button type="submit" class="btn btn-success mt-1">Create</button>
        </div>

        <div class="d-flex flex-column">
            <span>Cutman</span>
            <button type="submit" class="btn btn-success mt-1">Create</button>
        </div>
    </div>

</div>
