@{
    ViewData["Title"] = "Profile";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <h2 class="text-center">@User.Identity.Name</h2>

    <select class="form-control mx-auto col-4 p-2" id="exampleFormControlSelect1">
        <optionc>Boris Kirov</optionc>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>

    <div class="text-center pt-5">
        <p>Boris "Someone" Kirov</p>
        <p>20-3-2</p>
        <p>Heavyweight</p>
        <p>Nationality: Bulgaria</p>

        <div class="d-flex justify-content-around m-2">
            <span>Manager:</span>
            <span>Team:</span>
            <span>Trainer:</span>
            <span>Cutman:</span>
        </div>

        <p>Skills</p>
        <div class="mx-auto col-2">
            <ul class="text-left p-1">
                <li>Striking - 80</li>
                <li>Grapling - 77</li>
                <li>Wrestling - 77</li>
                <li>Health - 72</li>
                <li>Strenght - 94</li>
                <li>Stamina - 87</li>
            </ul>
            <button type="submit" class="btn btn-success w-100">Train</button>
        </div>
        
        <h4 class="text-center m-1">Here you can make custom</h4>
        <hr />
        <div class="d-flex justify-content-around m-2">
            <div class="d-flex flex-column">
                <span>Coach</span>
                <button type="submit" class="btn btn-success mt-1">Create</button>
            </div>

            <div class="d-flex flex-column">
                <span>Manager</span>
                <button type="submit" class="btn btn-success mt-1">Create</button>
            </div>

            <div class="d-flex flex-column">
                <span>Cutman</span>
                <button type="submit" class="btn btn-success mt-1">Create</button>
            </div>
        </div>
    </div>
</div>