@{
    ViewData["Title"] = "Welcome";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <h3 class="text-center p-2">Welcome To Pugna Fighting Game</h3>

    <p class="text-center">Pugna Fighting is free to play online MMA game. Only here you can make your fighter and create whole team with coach, cutman and manager.</p>

    <div class="d-flex justify-content-between">
        <div class="border rounded col-3">
            <h6 class="p-2 text-center">Create your own MMA fighter</h6>
            <img src="https://res.cloudinary.com/dka5uzl0n/image/upload/v1586117186/Create_l1itgo.png" class="rounded mx-auto d-block" style="width: 220px; height: 250px;" />
        </div>

        <div class="border rounded col-3">
            <h6 class="p-2 text-center">Sign a contract with one of two best MMA Organization</h6>
            <img src="https://res.cloudinary.com/dka5uzl0n/image/upload/v1586117348/Organization1241221_qzxwen.png" class="rounded mx-auto d-block" style="width: 220px; height: 250px;" />
        </div>

        <div class="border rounded col-3">
            <h6 class="p-2 text-center">Hire Manager, Coach, Cutman</h6>
            <img src="https://res.cloudinary.com/dka5uzl0n/image/upload/v1586117186/Create_l1itgo.png" class="rounded mx-auto d-block" style="width: 220px; height: 250px;" />
        </div>
    </div>

    <div class="d-flex justify-content-around mt-5">

        <div class="border rounded col-4">
            <h6 class="p-2 text-center">Train your fighter</h6>
            <img src="https://res.cloudinary.com/dka5uzl0n/image/upload/v1586117186/Train_jqpm4a.png" class="rounded mx-auto d-block" style="width: 220px; height: 250px;" />
        </div>

        <div class="border rounded col-4">
            <h6 class="p-2 text-center">Defeat every opponent you face</h6>
            <img src="https://res.cloudinary.com/dka5uzl0n/image/upload/v1586117188/Fight_ydhxrg.png" class="rounded mx-auto d-block" style="width: 220px; height: 250px;" />
        </div>
    </div>

    <p class="text-center m-4">Just click <a href="https://localhost:44319/Identity/Account/Register">here</a>, register and play.</p>

</div>