@{
    ViewData["Title"] = "Welcome";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <h3 class="text-center p-2">Welcome To Pugna Fighting Game</h3>

    <p>Pugna Fighting is free to play online MMA game. Only here you can make your fighter and create whole team with coach, cutman and manager.</p>

    <ul>
        <li>Create your own MMA fighter <i class="fas fa-plus-circle"></i></li>
        <li>Sign a contract with one of two best MMA Organization</li>
        <li>Hire Manager, Coach, Cutman</li>
        <li>Train your fighter</li>
        <li>Defeat every opponent you face</li>
    </ul>

    <p>Just click <a href="https://localhost:44319/Identity/Account/Register">here</a>, register and play.</p>

</div>