@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <h3 class="text-center pb-2 border-bottom">Animo</h3>
    <div class="d-flex justify-content-around">
        <div class="bg-primary p-2 rounded col-3">
            <h3>Best Grappler</h3>
            <img src="" alt="img" style="width: 250px; height: 250px;">
            <p>Name</p>
            <p>Record</p>
            <p>Trainer</p>
            <p>Team</p>
            <p>Manager</p>
            <p>Owner</p>
        </div>

        <div class="bg-primary p-2 rounded col-3">
            <h3>Best Striker</h3>
            <img src="image.jpg" alt="img" style="width: 250px; height: 250px;">
            <p>Name</p>
            <p>Record</p>
            <p>Trainer</p>
            <p>Team</p>
            <p>Manager</p>
            <p>Owner</p>
        </div>

        <div class="bg-primary p-2 rounded col-3">
            <h3>Best Wrestler</h3>
            <img src="image.jpg" alt="img" style="width: 250px; height: 250px;">
            <p>Name</p>
            <p>Record</p>
            <p>Trainer</p>
            <p>Team</p>
            <p>Manager</p>
            <p>Owner</p>
        </div>
    </div>

    <br>

    <h3 class="text-center pb-2 border-bottom">Corporis</h3>
    <div class="d-flex justify-content-around">
        <div class="bg-danger p-2 rounded col-3">
            <h3>Best Grappler</h3>
            <img src="" alt="img" style="width: 250px; height: 250px;">
            <p>Name</p>
            <p>Record</p>
            <p>Trainer</p>
            <p>Team</p>
            <p>Manager</p>
            <p>Owner</p>
        </div>

        <div class="bg-danger p-2 rounded col-3">
            <h3>Best Striker</h3>
            <img src="image.jpg" alt="img" style="width: 250px; height: 250px;">
            <p>Name</p>
            <p>Record</p>
            <p>Trainer</p>
            <p>Team</p>
            <p>Manager</p>
            <p>Owner</p>
        </div>

        <div class="bg-danger p-2 rounded col-3">
            <h3>Best Wrestler</h3>
            <img src="image.jpg" alt="img" style="width: 250px; height: 250px;">
            <p>Name</p>
            <p>Record</p>
            <p>Trainer</p>
            <p>Team</p>
            <p>Manager</p>
            <p>Owner</p>
        </div>
    </div>
</div>