@{
    ViewData["Title"] = "Home Page";
}

    <div class="p-5 rounded text-white bg-dark mx-auto w-75">
        <div class="d-flex justify-content-around">
            <div class="bg-success p-2 rounded">
                <h3>Master of Grappling</h3>
                <img src="" alt="img" style="width: 250px; height: 250px;">
                <p>Name</p>
                <p>Nationality</p>
                <p>Trainer</p>
                <p>Organization</p>
                <p>Team</p>
                <p>Manager</p>
                <p>Owner</p>
            </div>

            <div class="bg-success p-2 rounded">
                <h3>Master of Wrestling</h3>
                <img src="image.jpg" alt="img" style="width: 250px; height: 250px;">
                <p>Name</p>
                <p>Nationality</p>
                <p>Trainer</p>
                <p>Organization</p>
                <p>Team</p>
                <p>Manager</p>
                <p>Owner</p>
            </div>

            <div class="bg-success p-2 rounded">
                <h3>Master of Striking</h3>
                <img src="image.jpg" alt="img" style="width: 250px; height: 250px;">
                <p>Name</p>
                <p>Nationality</p>
                <p>Trainer</p>
                <p>Organization</p>
                <p>Team</p>
                <p>Manager</p>
                <p>Owner</p>
            </div>
        </div>

        <br>

        <div class="d-flex justify-content-around">
            <div class="bg-success p-2 rounded">
                <h3>Master of Health</h3>
                <img src="image.jpg" alt="img" style="width: 250px; height: 250px;">
                <p>Name</p>
                <p>Nationality</p>
                <p>Trainer</p>
                <p>Organization</p>
                <p>Team</p>
                <p>Manager</p>
                <p>Owner</p>
            </div>

            <div class="bg-success p-2 rounded">
                <h3>Master of Strenght</h3>
                <img class="rounded pb-3" src="image.jpg" alt="img" style="width: 250px; height: 250px;">
                <p>Name</p>
                <p>Nationality</p>
                <p>Trainer</p>
                <p>Organization</p>
                <p>Team</p>
                <p>Manager</p>
                <p>Owner</p>
            </div>

            <div class="bg-success p-2 rounded">
                <h3>Master of Stamina</h3>
                <img src="image.jpg" alt="img" style="width: 250px; height: 250px;">
                <p>Name</p>
                <p>Nationality</p>
                <p>Trainer</p>
                <p>Organization</p>
                <p>Team</p>
                <p>Manager</p>
                <p>Owner</p>
            </div>
        </div>
    </div>