@{ 
    ViewData["Title"] = "Not enough coins";
}
    <div class="p-5 rounded text-white bg-dark mx-auto w-75">
        <h1 class="text-danger">Error: Not enought coins to perform this action</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    </div>