@{
    ViewData["Title"] = "Cutmen";
}

<div class="p-5 rounded text-white bg-dark mx-auto w-75">
    <div class="d-flex flex-column">
        <div class="d-flex bg-success rounded p-4 justify-content-between">
            <img src="https://res.cloudinary.com/dka5uzl0n/image/upload/v1585938628/face8_pfqvgw.png" style="width: 50px; height: 50px;" />
            <p>FirstName LastName</p>
            <p>Nationality Age</p>
            <p>Price</p>
            <span type="button" class="btn btn-light"><a>Hire</a></span>
        </div>
    </div>
</div>