header > div > h1:hover {
    cursor: pointer;
    color: mediumseagreen;
    transition: color 1s;
}

#navigation {
    list-style: none;
    font-size: 1.8em;
}

.navigation-link {
    text-decoration: none;
    color: inherit;
}

.navigation-link:hover {
    text-decoration: none;
    cursor: pointer;
    color: mediumseagreen;
    transition: color 1s;
}

#logout {
    font-size: 1em;
}

#logout:hover {
    border-right: solid 3px seagreen;
    transition: border-right 1s;
}