*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

@media (max-width: 600px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 18px;
    }
}

main {
    background: url("https://res.cloudinary.com/dka5uzl0n/image/upload/v1585941890/Pugna_mucl7d.png") center;
}

ul {
    list-style: none;
}